# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

In [424]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

In [37]:
driver.get('https://www.naukri.com/')

In [4]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Analyst')

In [5]:
Location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
Location.send_keys('Bangalore')

In [6]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [18]:
Job_title=[]
Job_location=[]
company_name=[]
experiance_Required=[]

In [19]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    Job_title.append(title)

In [20]:
Job_title

['Data Analyst - CRM Platform',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst | Fortune500 Retail Company',
 'Senior Data Analyst | Fortune500 Retail Company',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Data Analyst - Python / Artificial Intelligence',
 'Data Analyst - ETL/Python/SQL']

In [21]:
# scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    Job_location.append(location)

In [22]:
Job_location

['Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Delhi / NCR',
 'Bangalore/Bengaluru']

In [23]:
# scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [24]:
company_name

['Artech infosystem',
 'TEKsystems',
 'Goalreify Ventures',
 'Goalreify Ventures',
 'Talent500',
 'Talent500',
 'nurture.farm',
 'Walmart',
 'iMindYourBusiness',
 'SteerLean']

In [25]:
# scraping experiance required from the given page
experiance_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experiance_tags[0:10]:
    experiance=i.text
    experiance_Required.append(experiance)

In [26]:
experiance_Required

['1-6 Yrs',
 '7-10 Yrs',
 '3-6 Yrs',
 '4-6 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '3-8 Yrs',
 '6-10 Yrs',
 '0-2 Yrs',
 '3-7 Yrs']

In [27]:
print(len(Job_title),len(Job_location),len(company_name),len(experiance_Required))

10 10 10 10

In [28]:
# creating the dataframe from avobe data

df=pd.DataFrame({'Job_title':Job_title,'Job_location':Job_location,'company_name':company_name,'experiance_Required':experiance_Required})

In [29]:
df

,Job_title,Job_location,company_name,experiance_Required
0,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,TEKsystems,7-10 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Goalreify Ventures,3-6 Yrs
3,Senior Data Analyst,Bangalore/Bengaluru,Goalreify Ventures,4-6 Yrs
4,Senior Data Analyst | Fortune500 Retail Company,Bangalore/Bengaluru,Talent500,3-8 Yrs
5,Senior Data Analyst | Fortune500 Retail Company,Bangalore/Bengaluru,Talent500,3-5 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,nurture.farm,3-8 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,Walmart,6-10 Yrs
8,Data Analyst - Python / Artificial Intelligence,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",iMindYourBusiness,0-2 Yrs
9,Data Analyst - ETL/Python/SQL,Bangalore/Bengaluru,SteerLean,3-7 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

In [392]:
driver.get('https://www.naukri.com/')

In [394]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [395]:
location=driver.find_element(By.XPATH,'//*[@id="root"]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [396]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [413]:
Job_title=[]
Job_location=[]
company_name=[]
experiance_required=[]

In [414]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    Job_title.append(title)    
    
# scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    Job_location.append(location)

# scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping experiance required from the given page
experiance_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experiance_tags[0:10]:
    experiance=i.text
    experiance_required.append(experiance)

In [415]:
print(len(Job_title),len(Job_location),len(company_name),len(experiance_required))

10 10 10 10

In [416]:
# creating the dataframe from avobe data

df=pd.DataFrame({'Job_title':Job_title,'Job_location':Job_location,'company_name':company_name,'experiance_Required':experiance_required})

In [417]:
df

,Job_title,Job_location,company_name,experiance_Required
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,4-7 Yrs
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis,9-14 Yrs
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
4,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs
5,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates,5-8 Yrs
6,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra,10-14 Yrs
7,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group,5-10 Yrs
8,Industry X - Software Engineering,Bangalore/Bengaluru,Accenture,3-5 Yrs
9,Module Lead - BIDW,Bangalore/Bengaluru,Mphasis,5-8 Yrs

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [425]:
driver.get('https://www.naukri.com/')

In [426]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [427]:
location=driver.find_element(By.XPATH,'//*[@id="root"]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Delhi/NCR')

In [428]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [442]:
job_title=[]
job_location=[]
company_name=[]
experiance_required =[]
salaries=[]

In [443]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [444]:
job_title

['Data Scientist - Engine Algorithm',
 'Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Data Activation Specialist - Adobe Target',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist / Chat-bot Developer',
 'Data Scientist - Mumbai - Immediate Joiner Required',
 'Data Scientist']

In [445]:
# scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [446]:
job_location

['Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Noida, Nagpur, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Noida(Sector-59 Noida)\n(WFH during Covid)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'New Delhi, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Delhi / NCR, Mumbai, New Delhi',
 'Noida']

In [447]:
# scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [448]:
company_name

['Primo Hiring',
 'GlobalLogic',
 'Boston Consulting Group',
 'Okda Solutions',
 'R Systems International',
 'IHS Markit',
 'Optum',
 'Big Seo Buzz',
 'HueCanvas Consulting',
 'NGI Ventures']

In [449]:
# scraping experiance required from the given page
experiance_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experiance_tags[0:10]:
    experiance=i.text
    experiance_required.append(experiance)

In [450]:
experiance_required

['1-3 Yrs',
 '8-10 Yrs',
 '2-5 Yrs',
 '7-10 Yrs',
 '7-10 Yrs',
 '3-6 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '2-7 Yrs',
 '0-5 Yrs']

In [451]:
# scraping experiance required from the given page
salary_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi salary"]')
for i in salary_tags[0:10]:
    salary=i.text
    salaries.append(salary)

In [452]:
salaries

['Not disclosed',
 '3,00,000 - 4,50,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '5,00,000 - 12,00,000 PA.',
 'Not disclosed',
 'Not disclosed']

In [453]:
print(len(job_title),len(job_location),len(company_name),len(experiance_required),len(salaries))

10 10 10 10 10

In [454]:
df=pd.DataFrame({'job-title':job_title,'job-location':job_location,'company name': company_name,'experience required':experiance_required,'salary':salaries})

In [455]:
df

,job-title,job-location,company name,experience required,salary
0,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs,Not disclosed
1,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs,"3,00,000 - 4,50,000 PA."
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs,Not disclosed
3,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs,Not disclosed
4,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs,Not disclosed
5,Data Scientist,Gurgaon/Gurugram,IHS Markit,3-6 Yrs,Not disclosed
6,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs,Not disclosed
7,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs,"5,00,000 - 12,00,000 PA."
8,Data Scientist - Mumbai - Immediate Joiner Req...,"Delhi / NCR, Mumbai, New Delhi",HueCanvas Consulting,2-7 Yrs,Not disclosed
9,Data Scientist,Noida,NGI Ventures,0-5 Yrs,Not disclosed

# Q4 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [141]:
driver.get('https://www.flipkart.com/')

In [145]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sunglasses')

In [146]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [283]:
Brand_name=[]
Product_Description=[]
glasses_price=[]
discount=[]

In [284]:
# scraping brand_name from the given page

brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    brand=i.text
    Brand_name.append(brand)

brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    brand=i.text
    Brand_name.append(brand)
    
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:20]:
    brand=i.text
    Brand_name.append(brand)

In [285]:
Brand_name

['SRPM',
 'IDEE',
 'IDEE',
 'john jacobs',
 'ALIXERO',
 'DAHAAZIL',
 'VINCENT CHASE',
 'AISLIN',
 'Fastrack',
 'Fastrack',
 'kingsunglasses',
 'FOSSIL',
 'IDEE',
 'shah collections',
 'GANSTA',
 'CARRERA',
 'Fastrack',
 'IDEE',
 'kingsunglasses',
 'FOSSIL',
 'Singco India',
 'PIRASO',
 'Rich Club',
 'AISLIN',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'FOSSIL',
 'Fastrack',
 'PHENOMENAL',
 'LIZA ANGEL',
 'FOSSIL',
 'VINCENT CHASE',
 'PIRASO',
 'Urbanic',
 'AISLIN',
 'Fastrack',
 'GANSTA',
 'ROYAL SON',
 'ROYAL SON',
 'SRPM',
 'IDEE',
 'IDEE',
 'john jacobs',
 'ALIXERO',
 'DAHAAZIL',
 'VINCENT CHASE',
 'AISLIN',
 'Fastrack',
 'Fastrack',
 'kingsunglasses',
 'FOSSIL',
 'IDEE',
 'shah collections',
 'GANSTA',
 'CARRERA',
 'Fastrack',
 'IDEE',
 'kingsunglasses',
 'FOSSIL',
 'Singco India',
 'PIRASO',
 'Rich Club',
 'AISLIN',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'FOSSIL',
 'Fastrack',
 'PHENOMENAL',
 'LIZA ANGEL',
 'FOSSIL',
 'VINCENT CHASE',
 'PIRASO',
 'Urbanic',
 'AISLIN',
 'Fastrack',
 'GANSTA',
 'ROYAL SON',
 'ROYAL SON',
 'SRPM',
 'IDEE',
 'IDEE',
 'john jacobs',
 'ALIXERO',
 'DAHAAZIL',
 'VINCENT CHASE',
 'AISLIN',
 'Fastrack',
 'Fastrack',
 'kingsunglasses',
 'FOSSIL',
 'IDEE',
 'shah collections',
 'GANSTA',
 'CARRERA',
 'Fastrack',
 'IDEE',
 'kingsunglasses',
 'FOSSIL']

In [286]:
# scraping Product_Description from the given page

description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    Description=i.text
    Product_Description.append(Description)
    
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    Description=i.text
    Product_Description.append(Description)
    
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:20]:
    Description=i.text
    Product_Description.append(Description)

In [287]:
Product_Description

['UV Protection Wayfarer Sunglasses (50)',
 'Gradient, UV Protection Aviator Sunglasses (58)',
 'UV Protection Over-sized Sunglasses (57)',
 'Polarized, UV Protection Aviator Sunglasses (53)',
 'UV Protection, Riding Glasses Retro Square Sunglasses (...',
 'UV Protection, Night Vision, Riding Glasses Wayfarer Su...',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection Butterfly, Over-sized Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Others Round Sunglasses (50)',
 'Mirrored, UV Protection Wayfarer Sunglasses (18)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'Others Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (52)',
 'UV Protection Cat-eye Sunglasses (17)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Others Aviator Sunglasses (58)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Oval Sunglasses (63)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (54)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'Others Round Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Round Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Aviator Sunglasses (54)',
 'Others Oval Sunglasses (Free Size)',
 'UV Protection, Gradient Cat-eye Sunglasses (61)',
 'UV Protection Sports Sunglasses (63)',
 'UV Protection Retro Square Sunglasses (53)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'Gradient, UV Protection Aviator Sunglasses (58)',
 'UV Protection Over-sized Sunglasses (57)',
 'Polarized, UV Protection Aviator Sunglasses (53)',
 'UV Protection, Riding Glasses Retro Square Sunglasses (...',
 'UV Protection, Night Vision, Riding Glasses Wayfarer Su...',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection Butterfly, Over-sized Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Others Round Sunglasses (50)',
 'Mirrored, UV Protection Wayfarer Sunglasses (18)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'Others Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (52)',
 'UV Protection Cat-eye Sunglasses (17)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Others Aviator Sunglasses (58)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Oval Sunglasses (63)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (54)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'Others Round Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Round Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Aviator Sunglasses (54)',
 'Others Oval Sunglasses (Free Size)',
 'UV Protection, Gradient Cat-eye Sunglasses (61)',
 'UV Protection Sports Sunglasses (63)',
 'UV Protection Retro Square Sunglasses (53)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'Gradient, UV Protection Aviator Sunglasses (58)',
 'UV Protection Over-sized Sunglasses (57)',
 'Polarized, UV Protection Aviator Sunglasses (53)',
 'UV Protection, Riding Glasses Retro Square Sunglasses (...',
 'UV Protection, Night Vision, Riding Glasses Wayfarer Su...',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection Butterfly, Over-sized Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Others Round Sunglasses (50)',
 'Mirrored, UV Protection Wayfarer Sunglasses (18)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'Others Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (52)',
 'UV Protection Cat-eye Sunglasses (17)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Others Aviator Sunglasses (58)']

In [288]:
# scraping price from the given page

price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    glasses_price.append(price)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    glasses_price.append(price)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:20]:
    price=i.text
    glasses_price.append(price)

In [289]:
glasses_price

['₹146',
 '₹1,029',
 '₹1,319',
 '₹2,399',
 '₹226',
 '₹154',
 '₹899',
 '₹440',
 '₹459',
 '₹529',
 '₹263',
 '₹2,199',
 '₹1,099',
 '₹79',
 '₹223',
 '₹5,049',
 '₹489',
 '₹1,029',
 '₹199',
 '₹2,899',
 '₹507',
 '₹189',
 '₹319',
 '₹437',
 '₹529',
 '₹359',
 '₹424',
 '₹3,999',
 '₹639',
 '₹170',
 '₹120',
 '₹2,199',
 '₹801',
 '₹189',
 '₹287',
 '₹354',
 '₹479',
 '₹165',
 '₹271',
 '₹424',
 '₹146',
 '₹1,029',
 '₹1,319',
 '₹2,399',
 '₹226',
 '₹154',
 '₹899',
 '₹440',
 '₹459',
 '₹529',
 '₹263',
 '₹2,199',
 '₹1,099',
 '₹79',
 '₹223',
 '₹5,049',
 '₹489',
 '₹1,029',
 '₹199',
 '₹2,899',
 '₹507',
 '₹189',
 '₹319',
 '₹437',
 '₹529',
 '₹359',
 '₹424',
 '₹3,999',
 '₹639',
 '₹170',
 '₹120',
 '₹2,199',
 '₹801',
 '₹189',
 '₹287',
 '₹354',
 '₹479',
 '₹165',
 '₹271',
 '₹424',
 '₹146',
 '₹1,029',
 '₹1,319',
 '₹2,399',
 '₹226',
 '₹154',
 '₹899',
 '₹440',
 '₹459',
 '₹529',
 '₹263',
 '₹2,199',
 '₹1,099',
 '₹79',
 '₹223',
 '₹5,049',
 '₹489',
 '₹1,029',
 '₹199',
 '₹2,899']

In [290]:
# scraping price from the given page

Discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in Discount_tags[0:100]:
    Discount=i.text
    discount.append(Discount)
    
Discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in Discount_tags[0:100]:
    Discount=i.text
    discount.append(Discount)
    
Discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in Discount_tags[0:20]:
    Discount=i.text
    discount.append(Discount)

In [291]:
print(len(Brand_name),len(Product_Description),len(glasses_price),len(discount))

100 100 100 100

In [294]:


df=pd.DataFrame({'Brand_name':Brand_name,'Product_Description':Product_Description,'Price':glasses_price,'Discount':discount})
df

,Brand_name,Product_Description,Price,Discount
0,SRPM,UV Protection Wayfarer Sunglasses (50),₹146,88% off
1,IDEE,"Gradient, UV Protection Aviator Sunglasses (58)","₹1,029",54% off
2,IDEE,UV Protection Over-sized Sunglasses (57),"₹1,319",52% off
3,john jacobs,"Polarized, UV Protection Aviator Sunglasses (53)","₹2,399",46% off
4,ALIXERO,"UV Protection, Riding Glasses Retro Square Sun...",₹226,89% off
...,...,...,...,...
95,CARRERA,Others Aviator Sunglasses (57),"₹5,049",50% off
96,Fastrack,UV Protection Round Sunglasses (52),₹489,38% off
97,IDEE,UV Protection Cat-eye Sunglasses (17),"₹1,029",54% off
98,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),₹199,80% off
99,FOSSIL,Others Aviator Sunglasses (58),"₹2,899",66% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [504]:
driver.get('https://www.flipkart.com/')

In [505]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('iphone 11')

In [506]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [652]:
Rating=[]
Review_summary=[]

In [653]:
# scraping rating from the given page

rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=i.text
    Rating.append(rating)
    
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=i.text
    Rating.append(rating)
    
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=i.text
    Rating.append(rating)
    
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=i.text
    Rating.append(rating)
    
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=i.text
    Rating.append(rating)
    
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=i.text
    Rating.append(rating)
    
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=i.text
    Rating.append(rating)
    
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=i.text
    Rating.append(rating)
    
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=i.text
    Rating.append(rating)
    
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=i.text
    Rating.append(rating)
    
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    rating=i.text
    Rating.append(rating)
    
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:4]:
    rating=i.text
    Rating.append(rating)

In [654]:
Review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Review_tags[0:100]:
    Review=i.text
    Review_summary.append(Review)

Review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Review_tags[0:100]:
    Review=i.text
    Review_summary.append(Review)
    
Review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Review_tags[0:100]:
    Review=i.text
    Review_summary.append(Review)
    
Review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Review_tags[0:100]:
    Review=i.text
    Review_summary.append(Review)
    
Review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Review_tags[0:100]:
    Review=i.text
    Review_summary.append(Review)
    
Review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Review_tags[0:100]:
    Review=i.text
    Review_summary.append(Review)
    
rating_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in rating_tags[0:100]:
    Review=i.text
    Rating.append(rating)
    
Review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Review_tags[0:100]:
    Review=i.text
    Review_summary.append(Review)
    
Review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Review_tags[0:100]:
    Review=i.text
    Review_summary.append(Review)
    
Review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Review_tags[0:100]:
    Review=i.text
    Review_summary.append(Review)
    

Review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Review_tags[0:100]:
    Review=i.text
    Review_summary.append(Review)
    
Review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Review_tags[0:100]:
    Review=i.text
    Review_summary.append(Review)
    
Review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Review_tags[0:100]:
    Review=i.text
    Review_summary.append(Review)
    
    
Review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Review_tags[0:4]:
    Review=i.text
    Review_summary.append(Review)

In [655]:
Full_review=[]

In [656]:
full_review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_review_tags[0:100]:
    review=i.text
    Full_review.append(review)
    
full_review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_review_tags[0:100]:
    review=i.text
    Full_review.append(review)
    
full_review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_review_tags[0:100]:
    review=i.text
    Full_review.append(review)
    
full_review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_review_tags[0:100]:
    review=i.text
    Full_review.append(review)
    
full_review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_review_tags[0:100]:
    review=i.text
    Full_review.append(review)
    
full_review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_review_tags[0:100]:
    review=i.text
    Full_review.append(review)
    
full_review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_review_tags[0:100]:
    review=i.text
    Full_review.append(review)
    
full_review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_review_tags[0:100]:
    review=i.text
    Full_review.append(review)
    
    
full_review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_review_tags[0:100]:
    review=i.text
    Full_review.append(review)
    
    
full_review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_review_tags[0:100]:
    review=i.text
    Full_review.append(review)
    
    
full_review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_review_tags[0:100]:
    review=i.text
    Full_review.append(review)
    
full_review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_review_tags[0:100]:
    review=i.text
    Full_review.append(review)
    
full_review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_review_tags[0:4]:
    review=i.text
    Full_review.append(review)

In [657]:

print(len(Rating),len(Full_review),len(Review_summary))

100 100 100

In [659]:



df=pd.DataFrame({'Rating':Rating,'Review_summary':Review_summary,'Full_review':Full_review})

In [660]:
df

,Rating,Review_summary,Full_review
0,5,Perfect product!,After using 3 years mobile review. Excellent &...
1,5,Terrific,I am using the phone for last 5 years and foun...
2,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
3,5,Classy product,Awesome for this price range
4,4,Good quality product,impressively Nice......\nOne of the greatest i...
...,...,...,...
95,5,Mind-blowing purchase,Fantastic and prompt delivery.
96,5,Perfect product!,After using 3 years mobile review. Excellent &...
97,5,Terrific,I am using the phone for last 5 years and foun...
98,5,Value-for-money,I'm Really happy with the product\nDelivery wa...
99,5,Classy product,Awesome for this price range

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field

In [526]:
driver.get('https://www.flipkart.com/')

In [527]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sneakers')

In [529]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [597]:
Brand = []
Product_Description=[]
products_Price=[]

In [598]:
# scraping brand_name from the given page

brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    brand=i.text
    Brand.append(brand)

brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    brand=i.text
    Brand.append(brand)
    
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:20]:
    brand=i.text
    Brand.append(brand)

In [599]:
print(len(Brand))

100

In [600]:
# scraping Product_Description from the given page

description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    Description=i.text
    Product_Description.append(Description)
    
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    Description=i.text
    Product_Description.append(Description)
    
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:22]:
    Description=i.text
    Product_Description.append(Description)

In [601]:
print(len(Product_Description))

100

In [602]:
# scraping price from the given page

price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    products_Price.append(price)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    price=i.text
    products_Price.append(price)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:20]:
    price=i.text
    products_Price.append(price)

In [603]:
print(len(products_Price))

100

In [616]:
Discount = []

In [617]:
# scraping price from the given page

discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags[0:100]:
    discount=i.text
    Discount.append(discount)
    
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags[0:100]:
    discount=i.text
    Discount.append(discount)
    
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags[0:20]:
    discount=i.text
    Discount.append(discount)

In [618]:
print(len(Discount))

100

In [619]:
df=pd.DataFrame({'Brand':Brand,'Product_Description':Product_Description,'Price':products_Price,'Discount':discount})

In [620]:
df

,Brand,Product_Description,Price,Discount
0,Neeman's,Sneakers For Men,"₹1,899",68% off
1,Neeman's,Tree Sneakers For Men And Women Sneakers For Men,"₹1,899",68% off
2,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹143,68% off
3,TR,Casual White Sneakers For Men,₹239,68% off
4,World Wear Footwear,Exclusive Affordable Collection of Trendy & St...,₹239,68% off
...,...,...,...,...
95,AMICO,Sneakers For Women,₹324,68% off
96,BRUTON,Sneakers For Men,₹191,68% off
97,Deals4you,DEMON High-top casual shoe with Flat outsole h...,₹260,68% off
98,RED TAPE,Sneakers For Men,"₹1,399",68% off
99,bacca bucci,Sneakers For Men,"₹1,414",68% off

# Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.

In [4]:
driver.get('https://www.myntra.com/shoes')

In [120]:
Brand=[]
Short_Shoe_description=[]

In [121]:
# Brand scrape


brand_tags=driver.find_elements(By.XPATH,'//H3[@class="product-brand"]')
for i in brand_tags[0:100]:
    brand=i.text
    Brand.append(brand)
    
brand_tags=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
for i in brand_tags[0:100]:
    brand=i.text
    Brand.append(brand)

In [122]:
print(len(Brand))

100

In [123]:
# Shoe description scrape

Short_description_tags=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
for i in Short_description_tags[0:100]:
    description=i.text
    Short_Shoe_description.append(description)
    
Short_description_tags=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
for i in Short_description_tags[0:100]:
    description=i.text
    Short_Shoe_description.append(description)

In [124]:
print(len(Short_Shoe_description))

100

In [129]:
price = []

In [130]:
shoe_price_tags=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
for i in shoe_price_tags[0:100]:
    Price=i.text
    price.append(Price)
    
shoe_price_tags=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
for i in shoe_price_tags[0:100]:
    Price=i.text
    price.append(Price)

In [131]:
print(len(price))

100

In [132]:
price

['Rs. 659Rs. 1099(40% OFF)',
 'Rs. 1889Rs. 2699(30% OFF)',
 'Rs. 1495Rs. 6799(78% OFF)',
 'Rs. 3071Rs. 4095(25% OFF)',
 'Rs. 1199Rs. 3999(70% OFF)',
 'Rs. 1924Rs. 3499( 45 % OFF)',
 'Rs. 1649Rs. 5499(70% OFF)',
 'Rs. 987Rs. 2599(62% OFF)',
 'Rs. 2759Rs. 4599(40% OFF)',
 'Rs. 4999',
 'Rs. 809Rs. 4495(82% OFF)',
 'Rs. 2579Rs. 5999(57% OFF)',
 'Rs. 724Rs. 2499(71% OFF)',
 'Rs. 1253Rs. 5699(78% OFF)',
 'Rs. 1439Rs. 4799(70% OFF)',
 'Rs. 2749Rs. 4999(45% OFF)',
 'Rs. 866Rs. 4330(80% OFF)',
 'Rs. 1249Rs. 1799(Rs. 550 OFF)',
 'Rs. 2879Rs. 3599(20% OFF)',
 'Rs. 1759Rs. 3999(56% OFF)',
 'Rs. 579Rs. 1999(71% OFF)',
 'Rs. 5524Rs. 6499(15% OFF)',
 'Rs. 1297Rs. 5899(78% OFF)',
 'Rs. 1619Rs. 3599(55% OFF)',
 'Rs. 789Rs. 2819(72% OFF)',
 'Rs. 4799Rs. 5999(20% OFF)',
 'Rs. 1169Rs. 4499(74% OFF)',
 'Rs. 699Rs. 2799(75% OFF)',
 'Rs. 4756Rs. 6795(30% OFF)',
 'Rs. 1223Rs. 3495(65% OFF)',
 'Rs. 759Rs. 3995(81% OFF)',
 'Rs. 1199Rs. 2999(60% OFF)',
 'Rs. 799Rs. 3995(80% OFF)',
 'Rs. 2785',
 'Rs. 748Rs. 2495(70% OFF)',
 'Rs. 3746Rs. 4995(25% OFF)',
 'Rs. 4399Rs. 5499(20% OFF)',
 'Rs. 1024Rs. 2499(59% OFF)',
 'Rs. 1637Rs. 1799(9% OFF)',
 'Rs. 1949Rs. 2999(35% OFF)',
 'Rs. 1644Rs. 4699(65% OFF)',
 'Rs. 898Rs. 4490(80% OFF)',
 'Rs. 749Rs. 3745(80% OFF)',
 'Rs. 4999',
 'Rs. 619Rs. 999(38% OFF)',
 'Rs. 749Rs. 1049(Rs. 300 OFF)',
 'Rs. 2799Rs. 3799(Rs. 1000 OFF)',
 'Rs. 3009Rs. 4299(30% OFF)',
 'Rs. 4899Rs. 6999(30% OFF)',
 'Rs. 1199Rs. 5999(80% OFF)',
 'Rs. 659Rs. 1099(40% OFF)',
 'Rs. 1889Rs. 2699(30% OFF)',
 'Rs. 1495Rs. 6799(78% OFF)',
 'Rs. 3071Rs. 4095(25% OFF)',
 'Rs. 1199Rs. 3999(70% OFF)',
 'Rs. 1924Rs. 3499( 45 % OFF)',
 'Rs. 1649Rs. 5499(70% OFF)',
 'Rs. 987Rs. 2599(62% OFF)',
 'Rs. 2759Rs. 4599(40% OFF)',
 'Rs. 4999',
 'Rs. 809Rs. 4495(82% OFF)',
 'Rs. 2579Rs. 5999(57% OFF)',
 'Rs. 724Rs. 2499(71% OFF)',
 'Rs. 1253Rs. 5699(78% OFF)',
 'Rs. 1439Rs. 4799(70% OFF)',
 'Rs. 2749Rs. 4999(45% OFF)',
 'Rs. 866Rs. 4330(80% OFF)',
 'Rs. 1249Rs. 1799(Rs. 550 OFF)',
 'Rs. 2879Rs. 3599(20% OFF)',
 'Rs. 1759Rs. 3999(56% OFF)',
 'Rs. 579Rs. 1999(71% OFF)',
 'Rs. 5524Rs. 6499(15% OFF)',
 'Rs. 1297Rs. 5899(78% OFF)',
 'Rs. 1619Rs. 3599(55% OFF)',
 'Rs. 789Rs. 2819(72% OFF)',
 'Rs. 4799Rs. 5999(20% OFF)',
 'Rs. 1169Rs. 4499(74% OFF)',
 'Rs. 699Rs. 2799(75% OFF)',
 'Rs. 4756Rs. 6795(30% OFF)',
 'Rs. 1223Rs. 3495(65% OFF)',
 'Rs. 759Rs. 3995(81% OFF)',
 'Rs. 1199Rs. 2999(60% OFF)',
 'Rs. 799Rs. 3995(80% OFF)',
 'Rs. 2785',
 'Rs. 748Rs. 2495(70% OFF)',
 'Rs. 3746Rs. 4995(25% OFF)',
 'Rs. 4399Rs. 5499(20% OFF)',
 'Rs. 1024Rs. 2499(59% OFF)',
 'Rs. 1637Rs. 1799(9% OFF)',
 'Rs. 1949Rs. 2999(35% OFF)',
 'Rs. 1644Rs. 4699(65% OFF)',
 'Rs. 898Rs. 4490(80% OFF)',
 'Rs. 749Rs. 3745(80% OFF)',
 'Rs. 4999',
 'Rs. 619Rs. 999(38% OFF)',
 'Rs. 749Rs. 1049(Rs. 300 OFF)',
 'Rs. 2799Rs. 3799(Rs. 1000 OFF)',
 'Rs. 3009Rs. 4299(30% OFF)',
 'Rs. 4899Rs. 6999(30% OFF)',
 'Rs. 1199Rs. 5999(80% OFF)']

In [133]:

df=pd.DataFrame({'Brand':brand,'Short_Shoe_description':Short_Shoe_description,'price':price})

In [134]:
df

       Brand           Short_Shoe_description                           price
0   Fentacia              Women Walking Shoes        Rs. 659Rs. 1099(40% OFF)
1   Fentacia     Men Clinch-X M Running Shoes       Rs. 1889Rs. 2699(30% OFF)
2   Fentacia  Men Solid Leather Formal Derbys       Rs. 1495Rs. 6799(78% OFF)
3   Fentacia      Women COURT ROYALE Sneakers       Rs. 3071Rs. 4095(25% OFF)
4   Fentacia   Men Woven Design Running Shoes       Rs. 1199Rs. 3999(70% OFF)
..       ...                              ...                             ...
95  Fentacia                Men Running Shoes    Rs. 749Rs. 1049(Rs. 300 OFF)
96  Fentacia       Men Patent Leather Fashion  Rs. 2799Rs. 3799(Rs. 1000 OFF)
97  Fentacia     Men Printed Slip-On Sneakers       Rs. 3009Rs. 4299(30% OFF)
98  Fentacia     Men Response Solar Run Shoes       Rs. 4899Rs. 6999(30% OFF)
99  Fentacia       Men Lightweight Flat Boots       Rs. 1199Rs. 5999(80% OFF)

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/

In [135]:
driver.get('https://www.amazon.in/')

In [138]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product.send_keys('Laptop')

In [140]:
search=driver.find_element(By.XPATH,'//div[@class="nav-search-submit nav-sprite"]')
search.click()

In [198]:
Title = []
Rating = []
Price = []

In [199]:
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[0:10]:
    title=i.text
    Title.append(title)

In [200]:
print(len(Title))

10

In [208]:
Title

['Samsung Galaxy Book2 360 Intel 12th Gen i7 EvoTM 33.78cm (13.3") AMOLED 2 in 1 Touch Screen Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit KB/Fingerprint Sensor/Graphite/1.16Kg), NP730QED-KA1IN',
 'Samsung Galaxy Book2 Pro Intel 12th Gen i7 EvoTM 33.78cm (13.3") AMOLED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit KB/Fingerprint Sensor/Silver/0.87Kg), NP930XED-KB2IN',
 'ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FHD OLED, Intel EVO Core i7-1165G7 11th Gen, Thin and Light Laptop (16GB/1TB SSD/Iris Xe Graphics/Windows 11/Office 2021/Mist/1.14 kg), UX325EA-KG701WS',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FHD OLED, Intel EVO Core i7-1165G7 11th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Windows 11/Office 2021/Grey/1.14 kg), UX325EA-KG722WS',
 'Hp Pavilion X360 11Th Gen Intel Core I7 14 Inches Fhd Multitouch 2In1 Laptop (16Gb Ram/512Gb Ssd/B&O/Windows 11 Home/Fpr/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu',
 'Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 14 inches FHD IPS 2-in-1 Touchscreen Business Laptop (16GB/512GB SSD/Windows 10/MS Office/Digital Pen/Fingerprint Reader/Slate Grey/1.43Kg), 82BH004HIN',
 '(Renewed) HP Elitebook Touchscreen 360 Degree Rotating Tablet Laptop 1030G3 Intel Core i7 - 7600u Processor , 16 GB Ram & 256 GB SSD, 13.3 Inches Notebook Computer']

In [201]:
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in rating_tags[0:10]:
    rating=i.text
    Rating.append(rating)

In [202]:
print(len(Rating))

10

In [203]:
Rating

['29', '18', '3', '56', '12', '62', '1', '26', '89', '35']

In [205]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price=i.text
    Price.append(price)

In [206]:
print(len(Price))

10

In [207]:
Price

['97,027',
 '1,04,320',
 '74,990',
 '63,990',
 '80,000',
 '77,990',
 '1,16,990',
 '82,490',
 '1,12,950',
 '39,990']

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [661]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver.exe")

In [662]:
driver.get('https://www.ambitionbox.com/')

In [667]:
designation=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
designation.send_keys('Data Scientist')

In [690]:
company_name = []

In [691]:
# scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[1]/div[1]/div/div/a')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
company_tags=driver.find_elements(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[2]/div[1]/div/div/a')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
company_tags=driver.find_elements(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[2]/div[1]/div/div/a')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

company_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[3]/div[1]/div/div/a')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
company_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[4]/div[1]/div/div/a')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
company_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[5]/div[1]/div/div/a')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
company_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[6]/div[1]/div/div/a')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
company_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[7]/div[1]/div/div/a')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

company_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[8]/div[1]/div/div/a')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
company_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[9]/div[1]/div/div/a')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [692]:
company_name

['Walmart\nData Scientist Salary',
 'Ab Inbev\nData Scientist Salary',
 'Ab Inbev\nData Scientist Salary',
 'Optum\nData Scientist Salary',
 'ZS\nData Scientist Salary',
 'Fractal Analytics\nData Scientist Salary',
 'Sigmoid Analytics\nData Scientist Salary',
 'Tiger Analytics\nData Scientist Salary',
 'Legato Health Technologies\nData Scientist Salary',
 'HSBC\nData Scientist Salary']

In [721]:
Total_salary_record = []

In [722]:
# scraping total_salary_record from the given page
total_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[1]/div[1]/div/div/div/span')
for i in total_salary_tags[0:10]:
    total_salary=i.text
    Total_salary_record.append(total_salary)
    
total_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[2]/div[1]/div/div/div/span')
for i in total_salary_tags[0:10]:
    total_salary=i.text
    Total_salary_record.append(total_salary)
    
total_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[3]/div[1]/div/div/div/span')
for i in total_salary_tags[0:10]:
    total_salary=i.text
    Total_salary_record.append(total_salary)
    
total_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[4]/div[1]/div/div/div/span')
for i in total_salary_tags[0:10]:
    total_salary=i.text
    Total_salary_record.append(total_salary)
    
total_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[5]/div[1]/div/div/div/span')
for i in total_salary_tags[0:10]:
    total_salary=i.text
    Total_salary_record.append(total_salary)
    
    
total_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[6]/div[1]/div/div/div/span')
for i in total_salary_tags[0:10]:
    total_salary=i.text
    Total_salary_record.append(total_salary)
    
total_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[7]/div[1]/div/div/div/span')
for i in total_salary_tags[0:10]:
    total_salary=i.text
    Total_salary_record.append(total_salary)
    
total_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[8]/div[1]/div/div/div/span')
for i in total_salary_tags[0:10]:
    total_salary=i.text
    Total_salary_record.append(total_salary) 
    
total_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[9]/div[1]/div/div/div/span')
for i in total_salary_tags[0:10]:
    total_salary=i.text
    Total_salary_record.append(total_salary)
    

total_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[10]/div[1]/div/div/div/span')
for i in total_salary_tags[0:10]:
    total_salary=i.text
    Total_salary_record.append(total_salary)

In [724]:
print(len(Total_salary_record))

10

In [733]:
Average_salary = []

In [734]:
average_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[1]/div[2]/div/div[1]/div/p')
for i in average_salary_tags[0:10]:
    average_salary=i.text
    Average_salary.append(average_salary)
    
    
average_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[2]/div[2]/div/div[1]/div/p')
for i in average_salary_tags[0:10]:
    average_salary=i.text
    Average_salary.append(average_salary)
    

average_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[3]/div[2]/div/div[1]/div/p')
for i in average_salary_tags[0:10]:
    average_salary=i.text
    Average_salary.append(average_salary)
    
average_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[4]/div[2]/div/div[1]/div/p')
for i in average_salary_tags[0:10]:
    average_salary=i.text
    Average_salary.append(average_salary)

average_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[5]/div[2]/div/div[1]/div/p')
for i in average_salary_tags[0:10]:
    average_salary=i.text
    Average_salary.append(average_salary)
    
average_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[6]/div[2]/div/div[1]/div/p')
for i in average_salary_tags[0:10]:
    average_salary=i.text
    Average_salary.append(average_salary)

average_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[7]/div[2]/div/div[1]/div/p')
for i in average_salary_tags[0:10]:
    average_salary=i.text
    Average_salary.append(average_salary)
    
average_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[8]/div[2]/div/div[1]/div/p')
for i in average_salary_tags[0:10]:
    average_salary=i.text
    Average_salary.append(average_salary)
    
average_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[9]/div[2]/div/div[1]/div/p')
for i in average_salary_tags[0:10]:
    average_salary=i.text
    Average_salary.append(average_salary)
    
average_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[10]/div[2]/div/div[1]/div/p')
for i in average_salary_tags[0:10]:
    average_salary=i.text
    Average_salary.append(average_salary)

In [735]:
Average_salary

['₹ 32.2L',
 '₹ 19.8L',
 '₹ 16.4L',
 '₹ 15.9L',
 '₹ 15.5L',
 '₹ 14.7L',
 '₹ 14.6L',
 '₹ 14.5L',
 '₹ 14.0L',
 '₹ 13.9L']

In [747]:
 Minimum_salary = []

In [748]:
minimum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[1]/div[2]/div/div[2]/div[1]')
for i in minimum_salary_tags[0:10]:
    minimum_salary=i.text
    Minimum_salary.append(minimum_salary)
    
minimum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[2]/div[2]/div/div[2]/div[1]')
for i in minimum_salary_tags[0:10]:
    minimum_salary=i.text
    Minimum_salary.append(minimum_salary)
    
minimum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[3]/div[2]/div/div[2]/div[1]')
for i in minimum_salary_tags[0:10]:
    minimum_salary=i.text
    Minimum_salary.append(minimum_salary)
    
minimum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[4]/div[2]/div/div[2]/div[1]')
for i in minimum_salary_tags[0:10]:
    minimum_salary=i.text
    Minimum_salary.append(minimum_salary)
    
minimum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[5]/div[2]/div/div[2]/div[1]')
for i in minimum_salary_tags[0:10]:
    minimum_salary=i.text
    Minimum_salary.append(minimum_salary)
    
minimum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[6]/div[2]/div/div[2]/div[1]')
for i in minimum_salary_tags[0:10]:
    minimum_salary=i.text
    Minimum_salary.append(minimum_salary)
    
minimum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[7]/div[2]/div/div[2]/div[1]')
for i in minimum_salary_tags[0:10]:
    minimum_salary=i.text
    Minimum_salary.append(minimum_salary)
    
minimum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[8]/div[2]/div/div[2]/div[1]')
for i in minimum_salary_tags[0:10]:
    minimum_salary=i.text
    Minimum_salary.append(minimum_salary)
    
minimum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[9]/div[2]/div/div[2]/div[1]')
for i in minimum_salary_tags[0:10]:
    minimum_salary=i.text
    Minimum_salary.append(minimum_salary)
    
minimum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[10]/div[2]/div/div[2]/div[1]')
for i in minimum_salary_tags[0:10]:
    minimum_salary=i.text
    Minimum_salary.append(minimum_salary)

In [749]:
Minimum_salary

['₹ 25.0L',
 '₹ 15.0L',
 '₹ 11.0L',
 '₹ 11.0L',
 '₹ 9.0L',
 '₹ 12.7L',
 '₹ 9.0L',
 '₹ 11.0L',
 '₹ 12.0L',
 '₹ 8.8L']

In [754]:
Maximum_salary = []

In [755]:
maximum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[1]/div[2]/div/div[2]/div[2]')
for i in maximum_salary_tags[0:10]:
    maximum_salary=i.text
    Maximum_salary.append(maximum_salary)
    
maximum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[2]/div[2]/div/div[2]/div[2]')
for i in maximum_salary_tags[0:10]:
    maximum_salary=i.text
    Maximum_salary.append(maximum_salary)
    
maximum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[3]/div[2]/div/div[2]/div[2]')
for i in maximum_salary_tags[0:10]:
    maximum_salary=i.text
    Maximum_salary.append(maximum_salary)
    
maximum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[4]/div[2]/div/div[2]/div[2]')
for i in maximum_salary_tags[0:10]:
    maximum_salary=i.text
    Maximum_salary.append(maximum_salary)
    
maximum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[5]/div[2]/div/div[2]/div[2]')
for i in maximum_salary_tags[0:10]:
    maximum_salary=i.text
    Maximum_salary.append(maximum_salary)
    
maximum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[6]/div[2]/div/div[2]/div[2]')
for i in maximum_salary_tags[0:10]:
    maximum_salary=i.text
    Maximum_salary.append(maximum_salary)
    
maximum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[7]/div[2]/div/div[2]/div[2]')
for i in maximum_salary_tags[0:10]:
    maximum_salary=i.text
    Maximum_salary.append(maximum_salary)
    
maximum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[8]/div[2]/div/div[2]/div[2]')
for i in maximum_salary_tags[0:10]:
    maximum_salary=i.text
    Maximum_salary.append(maximum_salary)
    
maximum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[9]/div[2]/div/div[2]/div[2]')
for i in maximum_salary_tags[0:10]:
    maximum_salary=i.text
    Maximum_salary.append(maximum_salary)
    
minimum_salary_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[10]/div[2]/div/div[2]/div[2]')
for i in minimum_salary_tags[0:10]:
    minimum_salary=i.text
    Maximum_salary.append(maximum_salary)

In [756]:
Maximum_salary

['₹ 45.0L',
 '₹ 26.0L',
 '₹ 22.6L',
 '₹ 22.0L',
 '₹ 23.0L',
 '₹ 19.7L',
 '₹ 20.0L',
 '₹ 20.0L',
 '₹ 18.0L',
 '₹ 18.0L']

In [776]:
Experience_required=[]

In [777]:
experience_required_tags=driver.find_elements(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[1]/div/div/div')
for i in experience_required_tags[0:10]:
    experience_required=i.text
    Experience_required.append(experience_required)
    
experience_required_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[2]/div[1]/div/div/div')
for i in experience_required_tags[0:10]:
    experience_required=i.text
    Experience_required.append(experience_required)
    
experience_required_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[3]/div[1]/div/div/div')
for i in experience_required_tags[0:10]:
    experience_required=i.text
    Experience_required.append(experience_required)
    
experience_required_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[4]/div[1]/div/div/div')
for i in experience_required_tags[0:10]:
    experience_required=i.text
    Experience_required.append(experience_required)
    
experience_required_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[5]/div[1]/div/div/div')
for i in experience_required_tags[0:10]:
    experience_required=i.text
    Experience_required.append(experience_required)
    
experience_required_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[6]/div[1]/div/div/div')
for i in experience_required_tags[0:10]:
    experience_required=i.text
    Experience_required.append(experience_required)
    
experience_required_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[7]/div[1]/div/div/div')
for i in experience_required_tags[0:10]:
    experience_required=i.text
    Experience_required.append(experience_required)
    
experience_required_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[8]/div[1]/div/div/div')
for i in experience_required_tags[0:10]:
    experience_required=i.text
    Experience_required.append(experience_required)
    
experience_required_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[9]/div[1]/div/div/div')
for i in experience_required_tags[0:10]:
    experience_required=i.text
    Experience_required.append(experience_required)
    
experience_required_tags=driver.find_elements(By.XPATH,'//*[@id="sal-table"]/div[2]/div[10]/div[1]/div/div/div')
for i in experience_required_tags[0:10]:
    experience_required=i.text
    Experience_required.append(experience_required)

In [778]:
Experience_required

['3-4 yrs experience (based on 24 salaries)',
 '2-4 yrs experience (based on 59 salaries)',
 '2-4 yrs experience (based on 49 salaries)',
 '1-2 yrs experience (based on 35 salaries)',
 '2-4 yrs experience (based on 118 salaries)',
 '1 yr experience (based on 10 salaries)',
 '2-4 yrs experience (based on 70 salaries)',
 '4 yrs experience (based on 11 salaries)',
 '4 yrs experience (based on 10 salaries)',
 '3 yrs experience (based on 14 salaries)']

In [779]:
print(len(Total_salary_record),len(Average_salary),len(Minimum_salary),len(Maximum_salary),len(Experience_required))

10 10 10 10 10

In [782]:
df=pd.DataFrame({'company_name':company_name,'Total_salary_record':Total_salary_record,'Average_salary':Average_salary,'Minimum_salary':Minimum_salary,'Maximum_salary':Maximum_salary,'Experience_required':Experience_required})

In [783]:
df

,company_name,Total_salary_record,Average_salary,Minimum_salary,Maximum_salary,Experience_required
0,Walmart\nData Scientist Salary,(based on 24 salaries),₹ 32.2L,₹ 25.0L,₹ 45.0L,3-4 yrs experience (based on 24 salaries)
1,Ab Inbev\nData Scientist Salary,(based on 59 salaries),₹ 19.8L,₹ 15.0L,₹ 26.0L,2-4 yrs experience (based on 59 salaries)
2,Ab Inbev\nData Scientist Salary,(based on 49 salaries),₹ 16.4L,₹ 11.0L,₹ 22.6L,2-4 yrs experience (based on 49 salaries)
3,Optum\nData Scientist Salary,(based on 35 salaries),₹ 15.9L,₹ 11.0L,₹ 22.0L,1-2 yrs experience (based on 35 salaries)
4,ZS\nData Scientist Salary,(based on 118 salaries),₹ 15.5L,₹ 9.0L,₹ 23.0L,2-4 yrs experience (based on 118 salaries)
5,Fractal Analytics\nData Scientist Salary,(based on 10 salaries),₹ 14.7L,₹ 12.7L,₹ 19.7L,1 yr experience (based on 10 salaries)
6,Sigmoid Analytics\nData Scientist Salary,(based on 70 salaries),₹ 14.6L,₹ 9.0L,₹ 20.0L,2-4 yrs experience (based on 70 salaries)
7,Tiger Analytics\nData Scientist Salary,(based on 11 salaries),₹ 14.5L,₹ 11.0L,₹ 20.0L,4 yrs experience (based on 11 salaries)
8,Legato Health Technologies\nData Scientist Salary,(based on 10 salaries),₹ 14.0L,₹ 12.0L,₹ 18.0L,4 yrs experience (based on 10 salaries)
9,HSBC\nData Scientist Salary,(based on 14 salaries),₹ 13.9L,₹ 8.8L,₹ 18.0L,3 yrs experience (based on 14 salaries)